# /etc/forge/system.conf
# Template Konfigurasi Bootstrap Distro Kura Linux (Dihasilkan oleh `forge system-setup`)

[system]
# Profil Sistem: "standard", "minimal", "desktop-ready", "server"
profile = "standard"

# Identitas Host & Regional
hostname = "kuralinux"
locale = "en_US.UTF-8"
keymap = "us"
timezone = "UTC"

[target]
# Target Arsitektur & Tuning Silikon CPU
# Pilihan: "native", "znver4", "znver3", "alderlake", "x86-64-v4", "x86-64-v3", "x86-64"
architecture = "x86_64"
march = "native"
enable_avx512 = true
enable_avx2 = true
cflags = "-O2 -march=native -pipe -fstack-protector-strong -D_FORTIFY_SOURCE=2 -fno-plt"
cxxflags = "-O2 -march=native -pipe -fstack-protector-strong -D_FORTIFY_SOURCE=2 -fno-plt"

[kernel]
# Model Kernel Kura Linux: "monolithic" (driver storage built-in tanpa initramfs)
type = "monolithic"
drivers_builtin = [
    "ext4",
    "nvme",
    "sata_ahci",
    "virtio",
    "virtio_pci",
    "virtio_blk",
    "virtio_net"
]

[init]
# Init System Default
manager = "openrc"
default_services = [
    "metalog",
    "chronyd",
    "eudev",
    "dhcpcd",
    "acpid"
]
